.panel-text-wrapper {
    > p {
        text-align: left;
        font-size: 1.6rem;

        @media screen and (min-width: $screen-size-lg) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: $screen-size-xl) {
            font-size: 1.6rem;
          }
      }

    

    > ul > li {
        text-align: center;
        font-size: 1.6rem;
        text-emphasis: bold;
    }
}

.flip-card-front {
    > .panel-text-wrapper {
            transform: translateY(25%);
    }
}

.panel-page-introduction-wrapper {
    > p {
        padding-bottom: 0rem;
    }
}